<% if (post.prev || post.next){ %>
<nav id="nav-single">
  <h3 class="assistive-text">Post navigation</h3>
  <% if (post.prev){ %>
    <span class="nav-previous">
      <a href="<%- url_for(post.prev.path) %>">
        <span class="meta-nav">&larr;</span> Previous
      </a>
    </span>
  <% } %>
  <% if (post.next){ %>
    <span class="nav-next">
      <a href="<%- url_for(post.next.path) %>">
        Next <span class="meta-nav">&rarr;</span>
      </a>
    </span>
  <% } %>
</nav>
<% } %>