<% page.posts.each(function(post){ %>
  <%- partial('article', {post: post, index: true}) %>
<% }) %>
<% if (page.total > 1){ %>
  <nav>
    <h3 class="assistive-text">Post navigation</h3>
    <%- paginator({
      prev_text: '<div class="nav-next">Newer posts <span class="meta-nav">&rarr;</span></div>',
      next_text: '<div class="nav-previous"><span class="meta-nav">&larr;</span> Older posts</div>',
      escape: false
    }) %>
  </nav><!-- #nav-above -->
<% } %>
