<body class="two-column">
  <div id="page" class="hfeed">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div id="main">
      <div id="primary">
        <div id="content" role="main">
          <%- partial('_partial/archive', {pagination: pagination, index: index}) %>
        </div>
      </div>
      <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
</body>